
 <div class="flex flex-wrap">


  {% for group in projects %}
    {% if group[0] == type %}
      {% for project in group[1] %}
        <a href="{{project.path}}">
          {{ project.title }}
        </a>
        {% if forloop.last == false %} 
          <span> 
            &nbsp; 
            /
            &nbsp; 
          </span>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>   