
 <div class="flex flex-wrap mt-2 leading-snug">


  {% for group in projects %}
    {% if group[0] == type %}
      <ul>
        {% for project in group[1] %}
          <li class="w-full md:w-auto md:inline-block">
            <a href="{{project.path}}" class="hover:text-indigo-300">
              {{ project.title }}
            </a>
            {% if forloop.last == false %} 
              <span class="invisible md:visible"> 
                &nbsp; 
                :
                &nbsp; 
              </span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</div>   