@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  display: inline-block;
  position: relative;
  z-index: 10;
}

/* a:hover:after {
  transform: scaleY(.9);
}

a:after {
  background-color: #c6f6d5;
  display: block;
  position: absolute;
  width: 100%;
  content: "";
  height: 50%;
  bottom: 4px;
  z-index: -1;
  transform: scaleY(0.2);
  transform-origin: bottom;
  transition: all .15s ease-in;
} */

a.img:after {display: none;}