html * {
  box-sizing: border-box; }

body {
  background: #fafafa;
  background-image: radial-gradient(#7d7d7d 5%, transparent 0);
  background-size: 30px 30px;
  margin: 0;
  padding: 0;
  padding-left: 3rem;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4; }
  @media screen and (min-width: 40em) {
    body {
      padding-left: 25%; } }

nav {
  padding: 1rem; }
  nav a {
    text-decoration: none; }

a {
  color: #111; }
  a:hover {
    text-decoration: none; }
  a:visited {
    color: #666;
    text-decoration: none; }

h1 {
  font-size: 3rem; }

#logo {
  width: 60px;
  display: block; }

.block {
  margin: 0.83rem 0; }

.base {
  background: #fff;
  width: 100%;
  padding: 1.8rem;
  border: 1px solid #efefef;
  position: relative; }

.box-1 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-1 {
      width: 8%; } }

.box-2 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-2 {
      width: 17%; } }

.box-3 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-3 {
      width: 25%; } }

.box-4 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-4 {
      width: 33%; } }

.box-5 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-5 {
      width: 42%; } }

.box-6 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-6 {
      width: 50%; } }

.box-7 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-7 {
      width: 58%; } }

.box-8 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-8 {
      width: 67%; } }

.box-9 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-9 {
      width: 75%; } }

.box-10 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-10 {
      width: 83%; } }

.box-11 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-11 {
      width: 92%; } }

.box-12 {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .box-12 {
      width: 100%; } }

form .alert {
  display: none; }
  form .alert.active {
    display: block; }

.form-group {
  margin-top: 1rem; }

label {
  text-transform: uppercase;
  font-size: 60%;
  cursor: pointer; }

.form-element {
  background: #fff;
  width: 100%;
  padding: 1rem;
  border: 1px solid #111;
  display: block;
  transition: background-color .25s ease;
  transition: color .25s ease; }
  .form-element:focus {
    outline: green; }

button, .button {
  background: #fff;
  padding: 1rem;
  border: 1px solid #111;
  text-decoration: none;
  cursor: pointer;
  transition: color background-color .25s ease; }
  button:focus, .button:focus {
    outline: green; }

button:hover, .button:hover {
  background: #111;
  color: #fff; }

.expand {
  width: 100%;
  display: inline-block; }
