--- 
layout: default
---
   
<div id="app">
  <section class="flex items-stretch">
    <div class="md:w-1/2 h-scren p-8 md:p-16">
      <p class="text-3xl md:text-4xl font-semibold text-gray-200 leading-tight tet-justify">
        Hi there, I'm <a href="" class="text-green-300">Adrian</a>.
        It's satisfying to learn a new skill and then be able to use that skill to solve
        a <a href="" class="text-green-300">business problem</a> later. I've decided to 
        call myself a front-end developer here, because for one thing I like working on 
        <a href="" class="text-green-300">with a team</a>, where I can connect the back-end logic
        with the design. That said, I know my way around a 
        <a href="" class="text-green-300">Rails app</a>, so maybe full-stack is more accurate.
        But I am trying to focus more on the front and building
        <a href="" class="text-green-300">
          reactive UI's
        </a>
          , for example.
        By the way, a lot of my work is private but I have a few side projects
        on 
        <a href="" class="text-green-300">
          Github
        </a>. 
      </p>
      <p class="text-3xl md:text-5xl font-semibold text-gray-100 leading-tight text-justify">
        Thanks for stopping by!
      </p>
    </div>
    <div class="md:w-1/2 h-screen relative p-8 md:p-16 bg-gray-20 mt-32 space-y-8">
      <h2>Projects</h2>
      <div class="border rounded shadow-md p-1 h-40 overflow-hidden">
        {% img "zcastles.png" "" 'rel:auto_play="0"' %}
      </div>
      <div class="border rounded shadow-md p-1 h-40 overflow-hidden">
        {% img "zcastles.png" "" 'rel:auto_play="0"' %}
      </div>
      <div class="border rounded shadow-md p-1 h-40 overflow-hidden">
        {% img "zcastles.png" "" 'rel:auto_play="0"' %}
      </div>
      <div class="fixed bottom-0 right-0 p-4 text-right">
        <p>
        <a href="http://github.com/thisadrian">Github</a>
        </p>
        <a href="">a [at] thisadrian [dot] com</a>
      </div>
    </div>
  </section>
  <div class="mb-64">&nbsp;</div>
  {% comment %} {% include footer %} {% endcomment %}
  

</div>
