--- 
layout: default
---
   
<div id="app" class="h-screen">
  <section class="flex flex-col space-y-24 pt-32 md:w-1/2">
    <div class="text-gray-100 text-2xl font-light pl-32">
      <p>thisadrian.com</p>
      <h1>Front-end developer</h1>
      <p>707 : 123 : 1234</p>
      <p>a : at : thisadrian : dot : com</p>
    </div>
    <div class="text-gray-100 text-2xl font-light pl-32">
      <h2>Client work</h2>
      {% include projects_nav type: 'client' %}

    </div>
    <div class="text-gray-100 text-2xl font-light pl-32">
      <h2>Side work</h2>
      {% include projects_nav type: 'side' %}
    
    </div>

  </section>

  

</div>
